body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

#res {
  border-style: double;
  display: inline-block;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.res-img {
  height: 400px;
  padding-bottom: 20px;
}

span.stats {
  font-size: 20px;
  font-weight: bold;
}

#card-up{
  padding: 10px;
 
}

.close-button {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 20%;
  background-color: rgb(199, 196, 196);  
  border-radius: 7px;
  position:sticky;
  left: 100%;
  bottom: 90%;
}

.card-display{
  border: 4px double red;
  margin-bottom: 2%;  
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  
}


td.bio{
  font-size: 20px;
  text-align:center;
  width: 40%;
  line-height: 1.5em;
}

td.id-name{
  font-weight: bold;
  font-size: 30px
}


tr.header-text{
  font-size: 20px;
  text-align: center;

}

.stat-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
   
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

#hp.bar {
  background: #c54;
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 20px;

  transition: width .5s linear;
  font-size: 20px;
}

#str.bar {
  background: rgb(255, 251, 41);
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 20px;

  transition: width .5s linear;
  font-size: 20px;
}

#def.bar {
  background: rgb(108, 58, 247);
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 20px;

  transition: width .5s linear;
  font-size: 20px;
}


.form-row {
  padding-bottom: 2.5rem;
  width: 75%;
  margin: 0 auto;
}

.new-form-div{
  border: 4px double red;
  height: 600px;
  
}

.new-form{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 5%;
  
}

.fields{
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.new-row-one{
  margin-right: 95px;
  padding-bottom: 50px;
}

.new-row-two * {
  margin-left: 275px;
  
  vertical-align: top;
}



.bio-container{
  margin-left: 20px;
  height: 250px;
  width:600px;
}

.stat-fields {
  margin-left: 10px;
  padding-bottom: 75px;
  text-align: center;
}

#hp-input{
  margin-left: 12px;
  width: 30%
}
#stat-input {
  width: 30%;
}

.upload-new {
  font-size: 25px;
  width: 125px;
  height:40px;
  position:relative;
  bottom: 50px;
}

/* css for Editor Form */

.editor-display {
  border: 4px double red;
  margin-bottom: 2%;  
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  
}

.edit-bio{
  width: 40%;
  font-size: 20px;
}

.edit-textarea{
  
  width:800px;
  height: 300px;
  line-height: 1.5em;
}
